doctype html
html
  head
    meta(charset='UTF-8')
    title Quản lý sách
    link(rel='stylesheet', href='/admin.css')
    script(src='/sach.js')
  body
    header
      h1 Quản lý sách
    nav
      a(href='/admin') ← Quay lại trang admin
    main
      h2 Danh sách sách
      table
        thead
          tr
            th Tên sách
            th Giá
            th Tác giả
            th Thao tác
        tbody
          each book in books
            tr
              td: input(type='text', value=book.title)
              td: input(type='number', value=book.price)
              td: input(type='text', value=book.author)
              td
                button(data-id=book._id, class='update-book') Lưu
                button(data-id=book._id, class='delete-book') Xóa

      h2 Thêm sách mới
      form#newBookForm
        input(type='text', name='title', placeholder='Tên sách')
        input(type='number', name='price', placeholder='Giá')
        input(type='text', name='author', placeholder='Tác giả')
        button(type='submit') Thêm
